# Create .env and copy this contents into it:

# This file is not copied into images, but is used by compose
APP_NAME=auto-servis-app
DOCKER_ENV=true

# ENVs for frontend:
HOST_FRONTEND=0.0.0.0
PORT_FRONTEND=3000
HOST_DEV_FRONTEND_LOCALHOST=127.0.0.1

# ENVs for backend:
HOST_BACKEND=0.0.0.0
PORT_BACKEND=8080
HOST_DEV_BACKEND_LOCALHOST=127.0.0.2
