services:
  frontend:
    environment:
      - DOCKER_ENV=${DOCKER_ENV}
      - HOST_FRONTEND=${HOST_FRONTEND}
      - PORT_FRONTEND=${PORT_FRONTEND}
      - HOST_DEV_FRONTEND_LOCALHOST=${HOST_DEV_FRONTEND_LOCALHOST}
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
      args:
        - PORT=${PORT_FRONTEND}
    image: frontend-service:latest
    ports:
      - "${PORT_FRONTEND}:${PORT_NGINX_FRONTEND}"
    restart: unless-stopped

  backend:
    environment:
      - DOCKER_ENV=${DOCKER_ENV}
      - SERVER_ADDRESS=${HOST_BACKEND}
      - SERVER_PORT=${PORT_BACKEND}
      - SPRING_APPLICATION_NAME=${SPRING_APPLICATION_NAME}
      - SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5433/automat
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
      - FRONTEND_URL=${FRONTEND_URL}
    build:
      context: ./backend
      dockerfile: backend.dockerfile
      args:
        - PORT=${PORT_BACKEND}
    image: backend:latest
    ports:
      - "${PORT_BACKEND}:${PORT_BACKEND}"
    restart: unless-stopped
